@charset "utf-8";

.jumbotron {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    display: block;
}

.welcome {
    float: left;
}

.logout {
    float: right;
}

#chatbox {
    text-align:left;
    background:#fff;
    margin: 1% auto 3% auto;
    height:300px;
    width:100%;
    border:1px solid #ACD8F0;
    overflow:auto; 
}

.userInput {
    margin-bottom: 10px;
}

.alert-danger {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.confirmButtons {
    margin: 0 10px 0 10px;
}

